:root {
  scroll-behavior: smooth;
}
/* this fixes the scrolling to the wrong position due to the sticky content */
a.anchor {
  display: block;
  position: relative;
  top: -5em;
  visibility: hidden;
}

.jumbotron {
  background-image: url("images/elcstudents.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 40%;
  height: 200px;
}
#header {
  background-color: white;
  box-shadow: 0px 5px 10px 1px grey;
}
#header a {
  text: rgb(0, 46, 93);
}
div#byu-bar {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: flex-start;
  background-color: rgb(0, 46, 93);
}

div#byu-bar img {
  height: 2em;
}
div#user {
  line-height: 2em;
  height: 2em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  text-align: end;
}

#title {
  background-color: rgb(246, 246, 248);
  color: rgb(20, 20, 20);
  cursor: default;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 2em 0em;
}

h2 {
  color: rgb(0, 46, 93);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

h3 {
  color: rgb(0, 46, 93);
  cursor: default;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21.333281px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

h4 {
  color:Black;
  cursor: default;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

div#user a {
  color: white;
  text-decoration: none;
}

@media all and (max-width: 900px) {
  html {
    font-size: 13px;
  }
}

@media all and (max-width: 800px) {
  a.pdf_icon {
    background-size: 32px 32px;
    padding: 32px 32px 5px 32px;
  }
}

@media all and (max-width: 568px) {
  html {
    font-size: 12px;
  }
  #header h1 {
    font-size: 1.7em;
  }

}
OL {
  counter-reset: item;
  position: relative;
  left: -20px;
  z-index: 8;
  display: table;
  list-style-position: outside;
  border-spacing: .3em 0em;
}

OL>LI {
  display: block;
  display: table-row;
  padding-left: 10px;
}

OL>LI::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  display: table-cell;
}

@media all and (max-width: 372px) {
  html {
    font-size: 10px;
  }
  #header h1 {
    font-size: 1.8em;
  }
  #user {
    background-color: rgb(0, 46, 93);
  }
}

.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }