body {
	background-color:#efefef;
}

div#content{
width: 2260px; 
	margin-left: auto;
	margin-right: auto;
}
div#table {
	display:table;
	padding: 10px;
/* 	min-width: 2000px; */
}
div.editable {
	display: table-cell;
	width: 565px;
	background-color:white;
	
	border-spacing: 10px;
	/* box-shadow: 1px 1px 2px 2px black; */
	border: 1px black solid;
	padding: 10px;
	
}

div.editable h2 {
	margin: 5px;
	text-align: center;
}

#save_dialog {
	display: none;
	position: fixed;
	top: 0px;
	padding: 5px;
	width: 500px;
	color: white;
	margin-left:auto;
	margin-right:auto;
	background-color:rgba(0, 0, 0, 0.5);
	z-index: 999999;
	text-align: center;
}
div.newRow {
	border-bottom: 1px solid grey;
	background-color: white;
	margin-top: 10px;
	page-break-after: always;
}

div.newRow:last {
	page-break-after: avoid;
}

@media print {
	body {
		font-size: .6em;
	}
}