html {
    font-size: 16px;
    padding: 0px;
    background-color:#efefef;
}

@media all and (max-width: 900px) {
    html {
        font-size: 13px;
    }
}

@media all and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    h1 {
        font-size: 1.2em;
    }
}

@media all and (max-width: 300px) {
    html {
        font-size: 10px;
    }
}







#save_dialog {
    display: inline;
    margin-left: 25px;
}

/* .connected_course,
.potential_course {
    display: block;
    color: white;
    width: 17em;
    padding: .2em;
    margin: .2em;
    border: gray 1px solid;
    text-align: center;
    font-family: "Martel";
    cursor: pointer;
}

.connected_course {
    background-color: #3498db;
}

.potential_course {
    background-color: grey;
} */

/* #connected_courses,
#potential_courses {
    margin: 1em;
    padding: 1em;
    background-color: #efefef;
    border: 1px black solid;
    display: inline-block;
    height: 24em;
    overflow-y: scroll;
    width: 18em
}

.le_button {
    border: 1px solid grey;
    border-radius: .3em;
    display: block;
    padding: .3em;
    margin: .2em;
}


div.leBox {
    font-size: 1em;
    background-color:  #002E5D;
    color: white;
    position: absolute;
    padding: 4px;
    display: none;
    z-index: 999;
} */

/* div.leMenu {
    background-color: #002E5D;
    
    color: #3498db;
    padding: 1em .2em;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    height: 1em;
    line-height: 1em;
    position: relative;
    left: -4px;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
}

.leMenu:hover {
    background-color: #3cb0fd;
    color: white;
} */

/* a.leOption {
    user-select: none;
    font-weight: bolder;
   
    text-decoration: none;
    background-color: white;
    color: #3498db;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .3em;
    margin: .3em 0em;
}

a.leOption:hover {
    color: white;
    background-color: #3cb0fd;
    ;
} */

